<h1>Add a new candidate</h1>
<hr>


<%= form_for(@candidate) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Resume Upload</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">The Basics</h3>
    </div>
    <div class="panel-body">
    	<div class="row">
	      <div class="col-sm-4">
		    <%= f.label :first_name %><br>
		    <%= f.text_field :first_name %>
		  </div>
		  <div class="col-sm-4">
		    <%= f.label :last_name %><br>
		    <%= f.text_field :last_name %>
		  </div>
		  <div class="col-sm-4">
		    <%= f.label :preferred_name %><br>
		    <%= f.text_field :preferred_name %>
		  </div>
	    </div>
	    <div class="row">
	      <div class="col-sm-4">
	      	<br>
		    <%= f.label :email_address %><br>
		    <%= f.text_field :email_address %>
		  </div>
		  <div class="col-sm-4">
		  	<br>
		    <%= f.label :phone_number %><br>
		    <%= f.text_field :phone_number %>
		  </div>
	    </div>
	</div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Work Experience</h3>
    </div>
    <div class="panel-body">
    	<%= fields_for @employer_record do |we| %>
		    <div class="row">
		      <div class="col-sm-4">
			    <%= we.label :employer_id %><br>
			     <%= we.select(:employer_id, options_for_select(@employer_options)) %>
			  </div>
			  <div class="col-sm-4">
			    <%= we.label :title %><br>
			    <%= we.text_field :title %>
			  </div>
			  <div class="col-sm-4">
			    <%= we.label :StartDate %><br>
			    <%= we.select(:start_date, options_for_select(@month_options)) %>
			    <%= we.select(:start_date, options_for_select(@start_year_options)) %>
			  </div>
			  <div class="col-sm-4">
			    <%= we.label :EndDate %><br>
			    <%= we.select(:start_date, options_for_select(@month_options)) %>
			    <%= we.select(:start_date, options_for_select(@end_year_options)) %>
			  </div>
		    </div>
	    <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Education</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>

  <div class="actions submit row">
    <%= link_to 'Back', candidates_path %> 
    &nbsp; &nbsp;
    <%= f.submit 'Add Candidate', :class => 'btn btn-primary' %>
  </div>
<% end %>


