<h1>Create a new campaign</h1>
<hr>
<%= form_for(@campaign) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">The Basics</h3>
    </div>
    <div class="panel-body">
    	<div class="row">
	      <div class="col-sm-4">
		    <%= f.label :name %><br>
		    <%= f.text_field :name %>
		  </div>
		  <div class="col-sm-4">
		    <%= f.label :position %><br>
		    <%= f.text_field :position %>
		  </div>
	    </div>
	</div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Steps in the recruiting process</h3>
    </div>
    <div class="panel-body">
    	<%= f.fields_for :elements do |builder| %>
    		<%= render 'element_fields', f: builder %>
	    <% end %>
	    <%= link_to_add_fields "Add Field", f, :elements %>
	    
	</div>
  </div>

  <div class="actions submit row">
    <%= link_to 'Back', campaigns_path %> 
    &nbsp; &nbsp;
    <%= f.submit 'Create Campaign', :class => 'btn btn-primary' %>
  </div>
<% end %>