<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="candidate_modal">
      <%= render partial: "candidate_modal", :locals => { modal_candidate_campaign: @modal_candidate_campaign} %>
    </div>
  </div>
</div>

<div class="row">
    <div class = "col-md-6" style="vertical-align:middle;">
        <h1>Campaign: <%= @campaign.name %></h1>
    </div>
    <div class = "col-md-6" style="vertical-align:middle;">
        <%= button_to "Add Candidates", campaigns_path, :class => "btn btn-primary", :method => :get %>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Status</th>
          <% @campaign.elements.each do |element| %>
          <th><%= element.name %> </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @campaign.candidates.each do |candidate| %>
        <% current_candidate_campaign = candidate.candidate_campaigns.where(campaign_id: @campaign.id).first %>
          <tr>
            <td>
              <%= link_to candidate.first_name + ' ' + candidate.last_name , show_candidate_modal_path(current_candidate_campaign), :remote=> true, 'data-toggle' => 'modal', 'data-target'=>'#myModal' %>
            </td>
            <td>Status: <%= candidate.candidate_campaigns.where(:campaign_id=> @campaign.id).first.candidate_status %></td>
            <% @campaign.elements.each do |campaign_element|
                can_element = CandidateElement.where(:candidate_id=>candidate.id).where(:element_id => campaign_element.id).first %>
                <td>CE <%= can_element.id %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
 </div>

<br>
